[Unit]
Description=Facial Recognition to control power state of TV
After=multi-user.target

[Service]
Restart=always
RestartSec=30
WorkingDirectory=/home/pi/FacialPyPi
ExecStart=/home/pi/.virtualenvs/py3_dlib/bin/python /home/pi/FacialPyPi/FacialRecog2.py

[Install]
WantedBy=multi-user.target
